
mixin modal() 
	.d-none
		div(id="modal-text" class="  modal-win  " ) 
			.h2.strong Программа видеокурса &laquo;Умножайте деньги на&nbsp;акциях ОТС&raquo;
			p Пошаговые видеоуроки с&nbsp;заданиями, которые&nbsp;Вы получите:

			p 
				strong 1. Вступительный урок
				br
				| Первое знакомство со&nbsp;стратегией торговли дешевыми акциями на&nbsp;рынке ОТС. Архив сделок. Демонстрация полученных результатов.

			p 
				strong 2. Что такое ОТС?
				br
				| Экскурс для новичков в&nbsp;фондовый рынок США. Знакомство с&nbsp;внебиржевым рынком акций ОТС. Знакомство с&nbsp;основными функциями сайта OTC Markets.

			p 
				strong 3. Почему сотни процентов на&nbsp;ОТС&nbsp;&mdash; реально и&nbsp;обыденно?
				br
				| Наглядное объяснение, почему сотни и&nbsp;тысячи процентов прибыли на&nbsp;акциях рынка ОТС&nbsp;&mdash; это повседневная обыденность рынка.

			p 
				strong 4. Обзор стратегии портфельных спекуляций на&nbsp;ОТС
				br
				| Как выглядит стратегия для работы с&nbsp;дешевыми акциями на&nbsp;рынке ОТС?

			p 
				strong 5. Прибыльная гавань во&nbsp;время кризиса
				br
				| Как зарабатывать, когда все кругом валится? Почему стратегия портфельных спекуляций на&nbsp;ОТС показывает прибыль несмотря на&nbsp;мировой кризис?

			p 
				strong 6. Как происходит работа с&nbsp;рисками на&nbsp;ОТС?
				br
				| Как работать с&nbsp;повышенным риском на&nbsp;рынке ОТС? Как получить кратный рост депозита благодаря положительному математическому ожиданию? Как сокращать риск потерь вплоть до&nbsp;нуля?

			p 
				strong 7. Самая успешная сделка Вашей жизни
				br
				| Одна сделка на&nbsp;рынке ОТС, которая разом может решить все Ваши финансовые вопросы и&nbsp;превратить скромные вложения в&nbsp;солидный капитал.

			p 
				strong 8. Обзор брокера для работы с&nbsp;акциями ОТС
				br
				| Подробный обзор единственного брокера мирового уровня, у&nbsp;которого имеются адекватные небольшие комиссии для торговли на&nbsp;ОТС, страховка депозита на&nbsp;500 000$ и&nbsp;гарантия защиты от&nbsp;нерыночных рисков.

			p 
				strong 9. Переходим к&nbsp;практике?
				br
				| Как перейти к&nbsp;практике реальных сделок с&nbsp;акциями рынка ОТС и&nbsp;получить возможность пользоваться готовыми наработками опытных инвесторов?
		// #modal-text
	// ФОРМА ПОДПИСКИ
	.leadbox_window(style='display:none; line-height:normal;', data-selector='lb_target')
		.ld_content_wrapper
			.ld_close
			.ld_progressbar
			.ld_main_line
				.ld_icon
					img(src='img/@1x/head-man.png', style='max-height: 390px; margin-bottom: -21px;', alt='')
				.ld_content(style='    width: 400px;')
					.ic_sform.ic_sform_2_0990bd2a
					script(type='text/javascript').
						(function (d, w, r, t, cl) {
						var rid = r.toString().substr(2);var e = d.getElementsByClassName(cl)[0];
						e.className="";e.id = "ic_sform_"+rid;
						var n = d.getElementsByTagName(t)[0], s = d.createElement(t), f = function () {n.parentNode.insertBefore(s, n);};
						s.type = "text/javascript";s.async = true;s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//www.infoclub.info/sform_loader/2/0990bd2a/?rid="+rid;
						if (w.opera == "[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else {f();}
						})(document, window, Math.random(), "script", "ic_sform_2_0990bd2a");
			.ps
				| Мы гарантируем безопасность введенной Вами информации. 
				a(href='https://info-dvd.ru/pages/privacy', target='_blank')
					| Политика
					| конфиденциальности
	link(rel='stylesheet', media='all', href='//info-dvd.ru/tools/lead_box/lead_box.css')
	script(src='//info-dvd.ru/tools/lead_box/lead_box.js?2')
	// end
