html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.pixel-perfect {
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	background-position: center -75px;
	opacity: 0;
	// opacity: 0.7;
}

body,
html {
	@include media-breakpoint-up(sm) {

		font-size: $em-base;
	}
	font-size: 16px;
	// @include font-size(1rem);
}


.section {
	@include bgs; 
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}
h2{
	font-weight: bold;
}
.section-title { 
	padding-bottom: rem(20);
	margin-bottom: var(--sTPB);
	position: relative;
	&::before{
		content: '';
		@include a-cent(x);
		bottom: 0;
		width: 140px;
		height: 2px;
		background-color:  $warning;
	}
}

body {
	min-width: 320px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}


.main-wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	svg {
		width: rem(47px);
		height: rem(94px); 
		@include media-breakpoint-down(md) {
			width: rem(47px / 2);
			height: rem(94px / 2); 
			path{

				stroke: $body-color !important;
			}
		}

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}
 
}

.slick-dots {
	list-style: none;
	text-align: center;
	// margin-top: rem(30);


	li {
		display: inline-block;
		border-radius: 50%;
		width: rem(16px);
		height: rem(16px);
		background: #fff;
		margin: rem(6);
		@include mt;
		cursor: pointer;
		button {
			display: none;
		}

		&:hover,
		&.slick-active {
			background-color: $primary;
		}
				&.slick-active {
					box-shadow: 0px 4px 4px rgba(90, 134, 235, 0.47);
				}
	}
}
.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}


// select.form-control {
// 	background-image: url(../img/svg/chevron-up.svg);
// 	background-repeat: no-repeat;
// 	background-position: calc(100%  - 20px) 50%; // background-size: rem(18) ;
// 	padding-right: rem(43px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {

// 	}
// }


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}
 

@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture {
	display: block;

	// display: flex;
	// width: 100%;
	// height: 100%;
	img {
		@extend .res-i;
	}

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	width: 100%;
	z-index: 1000;
	background: #000;
	min-height: 100px;
	font-size: 20px;
	color: #ffffff;
}

iframe {
	border: none;
}


.btn-warning {
	@extend .btn;
	font-family: "Gotham Pro", serif;
	font-weight: 500;
	box-shadow: 0 $em-base 25px rgba(101, 108, 174, 0.42),
	inset 0 -7px 0 rgba(0, 0, 0, 0.25);
	border: none;
	color: #ffffff;
	padding-top: $input-btn-padding-y * .9;
	padding-bottom: $input-btn-padding-y * 1.1;

	&:hover {
		box-shadow: 0 $em-base 25px rgba(101, 108, 174, 0.42),
		inset 0 0 0 rgba(0, 0, 0, 0.25);

	}
}



// timer
.idvd_timer {
	font-size: rem(17);
	font-weight: normal;
	font-family: "Gotham Pro",
	
	serif;
		line-height: 1.5;
	@include media-breakpoint-up(md) {

		max-width: rem(350);
		text-align: left;
		margin-top: 0;
	}

	// margin-top: rem(60);

}

.idvd_timer>div {
	width: em(90);
	text-align: center;
	font-weight: normal;

	&:first-child {

		margin-right: 1.5em;
	}

	margin-right: .9em;

}

.idvd_timer .tmr_el_val {

	&:nth-child(2),
	&:nth-child(3) {
		.tmr_el_val {
			position: relative;

			&::after {
				content: ':';
				right: 0;
				@include a-cent(y);
				color: #ffffff;
				margin-left: rem(5);
			}
		}
	}
}

.idvd_timer .tmr_el_val {
	border-radius: 0.25em;
	color: #1e1e8b;  
	font-size: 2.4em;
	width: 100%;
	box-sizing: border-box;
	padding: 0.14em 0;
	font-weight: normal;
	background-color: #ffffff;
	font-family: "Gotham Pro",
	serif;
}

.idvd_timer .tmr_el_unit {
	margin-top: 0;
	font-weight: normal;
	font-family: "Gotham Pro",
	serif;
}
// /timer

.bg{
	background: linear-gradient(180deg, #1A3F79 0%, rgba(26, 63, 121, 0.15) 53.65%, rgba(26, 63, 121, 0) 100%);
}