// start .s-steps
.s-steps { 
	background-color: #1a3f79;
	padding-top: calc(var(--sPT) + #{rem(10)});
	padding-bottom: calc(var(--sPB) + #{rem(10)});
	color: #ffffff;
	@include media-breakpoint-up(xl) {

		// padding-bottom: rem(25) !important;
		margin-bottom: 0;
	}
	h2{
		color: #ffffff;
	} 
	.section-title{
		margin-bottom: rem(15);
	}

	&__top-text {
		text-align: center;
		@extend .h3;
		font-weight: bold;
		color: $warning;
		padding-bottom: rem(60);
	}
	.row {
		justify-content: space-between;
		counter-reset: num;
	}

	&__list {}

	&__title { 
		@include media-breakpoint-up(lg) {

			
			max-width: rem(260);
		}
		margin-bottom: rem(11);
		font-weight: bold;
		text-transform: uppercase;
	}
	
	p {
		opacity: 0.8; 
		@include media-breakpoint-up(lg) {

			
			max-width: rem(260);
		}
	}

	&__item {
		position: relative;

		@include media-breakpoint-up(xl) {


			max-width: rem(360);
			margin-bottom: rem(62);
		}
		
		margin-bottom: rem(32);
			@include media-breakpoint-up(sm) {

				padding-left: rem(95);
			}
			padding-left: rem(60);
		position: relative;

		&::before {
			content: counter(num);
			counter-increment: num;
			@include rfs(rem(126px));
			color: $primary;
			position: absolute;
			left: 0;
			top: 0;
			font-weight: 500;
			line-height: 0.87;
			text-transform: uppercase;
			font-weight: 700;
			opacity: 0.4;
		}
	}

	.container {
		position: relative;
	}

	&__center-block {
		text-align: center;

		
		@include media-breakpoint-up(xl) {

			margin-top: rem(-80);
			@include a-cent;
			width: rem(708);
			// z-index: -1;
			picture{

				pointer-events: none;
			}
		}

		text-align: center;

	}

	&__more{
	@extend .text-warning;
	font-weight: bold;
	display: inline-flex;
	align-items: center;
	font-size: rem(16);
	.icon{
		font-size: rem(32);
		margin-right: rem(10);
	}	
	}
	&__wrap{
		position: relative;
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.s-steps
.mx-none{
		@include media-breakpoint-up(xl) {

			margin-top: rem(50);
		}
	max-width: none !important;
	*{
		
		max-width: none !important;
	}
}