mixin s-steps()
	// start s-steps
	+b.s-steps.section#s-steps&attributes(attributes)
		.container 
			.section-title.text-center
				h2 Долгожданный онлайн-курс по ОТС на русском!
			+e.top-text Аналогов не существует
			+e.wrap
				.row.row-cols-lg-2
					mixin li(t)
						+e.item&attributes(attributes)
							+e.title= t
							block
					.col-xl-auto.col-lg-6
						+li("Доступно каждому")
							p ОТС&nbsp;&mdash; идеальное решение, чтобы начать работу с&nbsp;небольшим депозитом от&nbsp;$100
						
						+li("Невероятно простое обучение")
							p Даже если&nbsp;Вы новичок&nbsp;&mdash; Вы&nbsp;без труда разберетесь в&nbsp;наших материалах
						
						+li("надежнАЯ СТРАТЕГИЯ")
							p Эффективность нашей стратегии доказана публичными результатами более 100 учеников
					.col-xl-auto.col-lg-6 
						+li("Пошаговое обучение")
							p Мы&nbsp;вместе последовательно пройдем 9&nbsp;уроков
						
						+li("практические задания")
							p Выполняя несложные задание, Вы&nbsp;закрепите пройденный материал
						
						+li("Абсолютно бесплатно")
							p Никаких ограничений и&nbsp;уловок! Все уроки&nbsp;&mdash; бесплатно и&nbsp;прямо сейчас. Записи останутся у&nbsp;Вас навсегда!
				+li("Персональная поддержка")(class="mx-none")
					p Помимо авторов курса в&nbsp;закрытой группе в&nbsp;Инфоклубе, Вы&nbsp;(при необходимости) получите бесплатную персональную консультацию от&nbsp;специалистов Службы Заботы Инфо-ДВД. В&nbsp;том числе и&nbsp;по&nbsp;телефону!
				+e.center-block
					+pic('book.png','','' )
					+e.more.link-modal(href="#modal-text")
						+icon("ion_document")
						| Подробное содержание
					
	// end s-steps