// start .s-training
.s-training {
	
	padding-top: rem(10);
	padding-bottom: rem(38);
	&__slider {
		text-align: center;
	}
	.section-title{
		color: #ffffff;
	}
	&__wrap {
		margin-left: auto;
		margin-right: auto;
		max-width: rem(893);

		@include media-breakpoint-up(md) {
			padding-top: rem(100);

		}

		padding-top: rem(50);
		color: #000000;
	}

	&__btn {
		@include media-breakpoint-up(md) {
			margin-left: 0;
			margin-top: 0;
		}

		margin-top: rem(50);

		margin-left: auto;
		margin-right: auto;
		@extend .btn;
		@extend .btn-warning;
		@extend .btn-block;
		max-width: rem(308); 
	}
&__footer{
	padding-top: rem(70);
	h2{
		padding-bottom: rem(25);
	}
	p{
		max-width: rem(660);
		line-height: (25 / 20);
	}
}

&__block{
	box-shadow: 0 4px 50px rgba(90, 134, 235, 0.36);
	border-radius: 10px;
	background-color: #ffffff;
	padding: rem(30) rem(26) rem(28);
	font-weight: 700;
	text-align: center;
	@include media-breakpoint-up(lg) {
		width: 360px; 
	 
		}
}
&__text-block{
	margin-left: auto;
	margin-right: auto;
	max-width: rem(270);
	line-height: (25 / 20);
	margin-bottom: rem(32);
}
	 
 
	&__slide{
		padding-bottom: rem(10);
	}
	&__img-wrap {
		box-shadow: 0 4px rem(40px) rgba(90, 134, 235, 0.36);
		border-radius: 10px;
		background-color: #ffffff;
		position: relative;
		overflow: hidden;
		display: block;
		max-width: rem(676);
		max-height: rem(456);

		margin-left: auto;
		margin-right: auto;
		padding: rem(15);
		// margin-bottom: rem(20);
		// display: flex;
		// justify-content: center;
		// align-items: center;
	}
	&__slide{
		padding-bottom: rem(40);
	}
	img {
		// max-width: 100%;
		// flex-shrink: 0;
		// max-height: 100%;
	}

	.slick-arrow {
		position: absolute;

		@include media-breakpoint-up(sm) {

			top: 50% !important;
			transform: translateY(-50%);
		}

		top: rem(150);
	}
 

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.s-training