
	// start .topLine
	.topLine {
		background-color: #ffffff;
		padding: rem(13) 0;
		width: 100%;
		line-height: (25 / 20);
		// position: absolute;
		// left: 0;
		// top: 0;
		
		&__text{
			opacity: 0.5;
			font-weight: bold;
		}
		.row{
			align-items: center;
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {
		img{
			max-width: 45px;
		}
		font-size: 14px;
	} 

} // end.topLine