mixin topLine()
	// start topLine
	+b.topLine
		.container
			.row
				+e.text.col Бесплатно! Эксклюзивный онлайн-курс по&nbsp;заработку на&nbsp;акциях ОТС
				
				.col-auto
					.d-none.d-sm-block
						img.res-i(src="img/@2x/logo-text.png", alt="")
					.d-sm-none
						img.res-i(src="img/@2x/logo.png", alt="")
	// end topLine