// start .s-why
.s-why {
	padding-top: calc(var(--sPT) + #{rem(35)});
	&__row {
		 
		color: #ffffff;
		background: #6E95ED;
		border-radius: 10px;

	}
	.section-title{
		margin-bottom: rem(80);
	}

	&__row{
	}

	&__col {
		@include media-breakpoint-up(xl) {

			padding: rem(50) rem(60) rem(53);
			padding-right: rem(30);
		}

		@include media-breakpoint-up(sm) {

			padding: rem(30) rem(30);
		}


		padding: rem(30) rem(15);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: rem(17) bottom;
		// background-position: 0 0;
		&:nth-child(1){
			background-image: url(../img/svg/1.svg);
		}
		&:nth-child(2) {
			background-image: url(../img/svg/2.svg);
			background-color: #1B407A;
			border-radius: 10px;
		}
	}

	&__title {
		@extend .h3;
		line-height: 1.3; 
		max-width: rem(390);
		font-weight: bold;

		@include media-breakpoint-up(md) {

			margin-bottom: rem(30);
		}

	}

	p {  
	}

	&__btn{
		@extend .btn-block;
		@extend .btn-warning;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(400);
		margin-top: rem(90);
		margin-bottom: rem(55);
	}
	.time__block{
		// margin-left: auto;
		display: flex;
		justify-content: center;
		// margin-right: auto;
	}

	.idvd_timer .tmr_el_val {
	 
		background-color: rgba(90, 134, 235, 0.1);
	}
	.idvd_timer .tmr_el_unit{
		color: $body-color;
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.s-why