mixin s-why()
	// start s-why
	+b.SECTION.s-why.section#s-why&attributes(attributes)
		.container 
			.section-title.text-center
					h2 Почему стоит попробовать обучение в Инфо-ДВД?
			+e.row.row.mx-0
				+e.col.col-md-6
					+e.title Мы&nbsp;не&nbsp;аффилированы ни&nbsp;с&nbsp;одним брокером
					p Мы&nbsp;не&nbsp;зарабатываем на&nbsp;комиссионных и&nbsp;не&nbsp;агитируем Вас вкладывать деньги. Напротив, призываем Вас учиться на&nbsp;&laquo;демо-счете&raquo; и&nbsp;не&nbsp;вкладывать реальные деньги пока освоите прибыльную торговлю
				+e.col.col-md-6
					+e.title Мы&nbsp;не&nbsp;обещаем  <br> золотые горы
					p Нужно быть настоящим профи, чтобы заколачивать миллионы. Но&nbsp;мы&nbsp;научим Вас делать от&nbsp;264% в&nbsp;одной сделке, работая с&nbsp;небольшим депозитом. По&nbsp;меркам рынка ОТС это копейки. Но&nbsp;это под силу каждому!
			+e.btn-wrap.text-md-left.text-center
				.block-decorate
					+e.btn.btn.lb_target(type="button") Успейте получить бесплатно
			.time__block
				.idvd_timer.autostart(data-redirect_url='', data-duration_hours='36.5')
	// end s-why